* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

header {
  min-height: 4rem;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  img {
    width: 10rem;
  }

  .nav-links {
    align-items: center;
    display: none;
    a {
      text-decoration: none;
      color: black;
      font-size: 0.75rem;
      padding: 0.25rem;
      display: none;
    }
  }
}
