* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

span {
  color: #ff3998;
}

h1 {
  font-size: 2.75rem;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

a {
  font-size: 1.2rem;
}

.text-uppercase {
  text-transform: uppercase;
}

button {
  background-color: #fff;
  padding: 1.2rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(30deg, rgb(243, 149, 179), rgb(189, 63, 103), rgb(253, 140, 29), rgb(143, 225, 194)) border-box;
  border: 4px solid transparent;
  border-radius: 50px;
}

header {
  min-height: 4rem;
  min-width: 24rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}
header img {
  width: 12rem;
  padding-left: 1rem;
}
header .fa {
  margin-right: 3rem;
  font-size: 1.5rem;
  color: #909090;
}
header .nav-links {
  align-items: center;
}
header .nav-links a {
  text-decoration: none;
  color: black;
  padding: 0.25rem;
}

.lounch {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  padding-bottom: 4rem;
}
.lounch h4 {
  padding: 3rem 0 1.5rem;
}
.lounch h1 {
  padding-bottom: 1.5rem;
}
.lounch p {
  padding-bottom: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
}
.lounch .box-right {
  min-width: 17rem;
  max-width: 30rem;
  z-index: 2;
}
.lounch img {
  position: relative;
  width: 25rem;
  bottom: 2rem;
  right: 6rem;
  z-index: 1;
}

.banner {
  min-width: 25rem;
  width: 100%;
  height: 20rem;
  background-image: url(./assets/assets/background.svg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: 90%;
  padding: 2rem;
}
.banner h2 {
  padding-bottom: 1rem;
}

.sponsors {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  margin: 3rem 2rem;
}
.sponsors :nth-child(4) {
  display: none;
}
.sponsors :first-child {
  max-height: 2rem;
  overflow: hidden;
}
.sponsors img {
  max-width: 16rem;
  overflow: hidden;
}

.auction {
  width: 100%;
  margin: 0 2rem;
}
.auction h2 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
}
.auction p {
  padding-bottom: 2rem;
  font-weight: 500;
}
.auction p a {
  color: rgb(95, 95, 95);
  font-weight: 600;
}
.auction .nft-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  border-radius: 1rem;
}
.auction .nft-items img {
  width: 18rem;
}
.auction .nft-display-text {
  background-color: rgb(227, 226, 226);
  height: 8rem;
  width: 18rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.auction .nft-display-text h3 {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-bottom: 1rem;
}
.auction .nft-display-text h3 img {
  margin-right: 0.5rem;
  width: 1rem;
}
.auction .nft-display-text h5 {
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 1rem 0;
}
.auction .nft-display-text p {
  color: #909090;
  font-size: 1.2rem;
  font-weight: 0;
}
.auction .nft-display-text .color-orange {
  color: rgb(240, 94, 15);
}
.auction .nft-display-text .innertext-2,
.auction .nft-display-text .innertext-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-items: center;
}

.line {
  border: 1.5px solid rgb(235, 235, 235);
  width: 100%;
}

.second .box-right {
  width: 10rem;
  z-index: 2;
}
.second .border-mobile {
  width: 15rem;
}
.second .lineMiddle {
  position: relative;
  right: 2rem;
  border: 1.5px solid rgb(235, 235, 235);
  width: 400px;
}
.second p {
  width: 14rem;
}
.second img {
  height: 29.5rem;
  position: relative;
  top: 5.6rem;
  right: 10rem;
}

.ft-navigation {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}
.ft-navigation .ft-socials img {
  padding-bottom: 1rem;
}
.ft-navigation .ft-socials p {
  padding-bottom: 2rem;
  font-weight: 500;
}
.ft-navigation .ft-socials .fa-brands {
  color: #909090;
  padding-right: 1rem;
  font-size: 1.2rem;
  padding-bottom: 3rem;
}
.ft-navigation .ft-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  padding-bottom: 2rem;
}
.ft-navigation .ft-grid h3 {
  padding-bottom: 1rem;
  color: #909090;
  font-weight: 600;
}
.ft-navigation .ft-grid ul {
  list-style: none;
}
.ft-navigation .ft-grid ul li {
  padding-bottom: 1rem;
}
.ft-navigation .ft-grid ul li a {
  text-decoration: none;
  color: #909090;
  font-weight: 500;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 0 0 6rem 2rem;
  color: #909090;
}
.copyright .hide-mobile {
  display: none;
}

@media (max-width: 48rem) {
  .nav-links {
    display: none;
  }
}
@media (min-width: 48rem) {
  body {
    margin: 0rem 3rem;
  }
  button {
    padding: 1.5rem 4rem;
  }
  .hide-dekstop {
    display: none;
  }
  .lounch h1 {
    font-size: 6rem;
  }
  .lounch .box-right {
    min-width: 38rem;
  }
  .lounch img {
    position: relative;
    width: 50rem;
    top: 4rem;
    right: 0;
    z-index: 1;
  }
  .banner {
    border-radius: 1rem;
    padding-bottom: 4rem;
  }
  .sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 6rem;
    gap: 6rem;
    margin: 0;
  }
  .sponsors :nth-child(4) {
    display: inherit;
  }
  .ft-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ft-navigation .ft-grid {
    display: flex;
  }
  .copyright .hide-mobile {
    display: inherit;
  }
}/*# sourceMappingURL=style.css.map */